.datatable{
    width: 1200px;
    .datagrid{
       .MuiDataGrid-toolbarContainer {
        flex-direction: row-reverse;
       }

       img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        object-fit: cover;
       }
       .action {
        display: flex;
        gap: 10px;
        img{
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
       }
    }
}